Source: xmlbeans-maven-plugin
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Damien Raude-Morvan <drazzib@debian.org>
Build-Depends:
 debhelper (>= 10),
 default-jdk,
 libmaven-plugin-tools-java,
 libmaven3-core-java,
 libplexus-utils-java,
 libxml-commons-resolver1.1-java,
 libxmlbeans-java (>= 2.5.0-4),
 maven-debian-helper (>= 2.2)
Standards-Version: 4.0.0
Vcs-Git: https://anonscm.debian.org/git/pkg-java/xmlbeans-maven-plugin.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/xmlbeans-maven-plugin.git
Homepage: http://mojo.codehaus.org/xmlbeans-maven-plugin/

Package: libxmlbeans-maven-plugin-java
Architecture: all
Depends: ${maven:Depends}, ${misc:Depends}
Recommends: ${maven:OptionalDepends}
Description: Maven XMLBeans Plugin
 Maven plugin which parses xsd files and produces a corresponding
 object model based on the Apache XML Beans parser.
 .
 The plugin produces two sets of output files referred to as
 generated sources and generated classes.
